* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.aboutUs1 {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container1 {
    box-shadow: rgba(0, 0, 0, 0.675) .5rem .5rem 5rem .2rem;
    text-align: center;
    padding: 1.5rem;
    width: 70rem;
    height: 30rem;

}

.container1 h1 {
    margin-bottom: .5rem;
}

.container1 hr {
    margin-bottom: 1rem;
}

.description1 {
    text-align: justify;
    width: 45%;
    float: left;
}

.description2 {
    text-align: justify;
    width: 45%;
    float: right;
}
