* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

.divider {
    margin: 5rem 5rem 5rem 5rem;
    border: 1px solid gray;
    width: 85rem;
}

/* About Us #1 */

.aboutUs1-container {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15rem;
    height: 50vh;
}

.img {
    background-color: blue;
    width: 50rem;
    height: 30rem;
    margin-right: 2rem;
}